/* ===============
  common styles
================== */

@font-face {
  font-family: "Helveticaa";
  src: url("./fonts/Helvetica.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f7fbfe;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica", sans-serif;
}
hr {
  height: 2px;
  background: #9c69e2;
  opacity: 0.2;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.common_btn {
  width: 170px;
  height: 60px;
  border-radius: 50px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #ffffff;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: inline-block;
}

/* ===============
  header styles
================== */

.inner_header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.header_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-right: 120px;
}

.header_left ul {
  list-style: none;
  display: flex;
}

.header_left ul li {
  margin-right: 40px;
}
.header_left ul li a {
  text-decoration: none;
  font-family: Avenir;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #4b5d68;
}

.demo_btn {
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  width: 210px;
  height: 60px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
  color: #212353;
  padding: 15px 30px;
  cursor: pointer;
}
.demo_btn span {
  margin-left: 20px;
  color: #9c69e2;
}
.hamburger_menu {
  display: none;
}

/* ===============
  banner styles
================== */
#banner {
  margin-top: 80px;
  margin-bottom: 100px;
}
.inner_banner {
  /* height: calc(100vh - 100px); */
  background-image: url("../images/banner_bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: 750px;
  display: flex;
  align-items: center;
  width: 100%;
}
.banner_left {
  /* width: 50%; */
}
.banner_left h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 110%;
  display: flex;
  align-items: center;
  color: #212353;
  max-width: 645px;
}
.banner_left p {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4b5d68;
  max-width: 330px;
  margin-top: 50px;
}
.learn_btn {
  background-color: #9c69e2;
  margin-top: 50px;
}

/* ===============
  storage bank styles
================== */
#storage_bank {
  margin-bottom: 150px;
}
.inner_storage_bank {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 60px;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  padding: 30px;
}
.storage_bank_left {
  width: 50%;
}
.storage_bank_left img {
  width: 100%;
}
.storage_bank_right {
  width: 50%;
}

.storage_bank_right h2 {
  max-width: 475px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
}
.storage_bank_right p {
  max-width: 474px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4b5d68;
  margin-top: 40px;
}
/* ===============
  features styles
================== */
#features {
  margin-bottom: 150px;
}

.inner_features h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  color: #212353;
  max-width: 405px;
  margin: auto;
}
.inner_features > p {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #4b5d68;
  max-width: 584px;
  margin: 50px auto 70px;
}
.feature_box_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 50px;
}
.feature_box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature_box_1 {
  background-image: url(../images/features/feature-bg-1.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}
.feature_box_2 {
  background-image: url(../images/features/feature-bg-2.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}
.feature_box_3 {
  background-image: url(../images/features/feature-bg-3.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}
.feature_box_4 {
  background-image: url(../images/features/feature-bg-4.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}
.feature_box_img img {
  /* width: 100%; */
  transform: translateY(20px);
}
.feature_box_content {
  padding: 50px 30px 30px;
}
.feature_box_content h3 {
  font-size: 24px;
  line-height: 130%;
  color: #212353;
  max-width: 200px;
}
.feature_box_content p {
  font-size: 16px;
  line-height: 160%;
  color: #4b5d68;
  max-width: 220px;
  margin: 20px 0;
}
.feature_box_content a {
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;

  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
  color: #212353;
  cursor: pointer;
  max-width: 130px;
}
.feature_box_content span {
  color: #9c69e2;
  margin-left: 20px;
}

/* ===============
  try for free styles
================== */
#try {
  margin: 100px 0;
}
.inner_try {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.try_left h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
}
.try_left p {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4b5d68;
  margin-top: 20px;
}
.try_right {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}
.learn_btn_2 {
  background-color: #f063b8;
  /* margin-right: 30px; */
  margin-bottom: 0 !important;
  width: 210px;
}

/* ===============
  footer styles
================== */

.inner_footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.inner_footer ul {
  list-style: none;
  margin: 30px 0;
}
.inner_footer ul a {
  text-decoration: none;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 250%;
  color: #212353;
}

.inner_dateware {
  display: flex;
  align-items: center;
}

.inner_dateware {
  margin-bottom: 30px;
}
.inner_dateware h5 {
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 160%;
  color: #212353;
  margin-left: 20px;
}
.datawere p {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
}
.about h5,
.help h5,
.social h5 {
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 160%;
  color: #212353;
  margin-top: 5px;
}

.social ul li {
  display: inline-block;
  margin-right: 15px;
  font-size: 50px;
}
.social ul li a {
  font-size: 30px;
  color: #aab4b9;
}
.social_ul {
  margin-top: 0 !important;
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer_bottom p {
  max-width: 360px;
}
